
.custom-navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}


.custom-brand {
    font-size: 1.6rem; 
}


.brand-box {
    background: white;
    color: black;
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
}


.brand-logo {
    height: 40px; 
    margin-left: 10px;
}

.num-green {
    color: green;
    font-weight: bold;
}

.num-red {
    color: red;
    font-weight: bold;
}

.faq-logo-wrapper {
    text-align: center;
    margin-top: 20px;
}

.faq-logo {
    width: 70%;      
    max-width: 48%;  
    height: auto;
    display: block;
    margin: 0 auto;
}

.ref-logo-wrapper {
    text-align: left;  
    margin-top: 20px;
}

.ref-logo {
    width: 70%;
    max-width: 48%;
    height: auto;
    display: block;
    margin: 0;          
}

body {
    margin: 0;
    padding: 20px;
    background-color: #111;
    font-family: Arial, sans-serif;
}


