
.custom-navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}


.custom-brand {
    font-size: 1.6rem; 
}


.brand-box {
    background: white;
    color: black;
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
}


.brand-logo {
    height: 40px; 
    margin-left: 10px;
}

.num-green {
    color: green;
    font-weight: bold;
}

.num-red {
    color: red;
    font-weight: bold;
}

.faq-logo-wrapper {
    text-align: center;
    margin-top: 20px;
}

.faq-logo {
    width: 70%;      
    max-width: 48%;  
    height: auto;
    display: block;
    margin: 0 auto;
}

.ref-logo-wrapper {
    text-align: left;  
    margin-top: 20px;
}

.ref-logo {
    width: 70%;
    max-width: 48%;
    height: auto;
    display: block;
    margin: 0;          
}

body {
    margin: 0;
    padding: 20px;
    background-color: #eeeded;
    font-family: Arial, sans-serif;
}


.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.video-box {
    position: relative;
    width: 100%;
    padding-top: 56.25%; 
    overflow: hidden;
}

.video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 900px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

